body {
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.jumbotron {
    margin-top: 2%;
    background: lightgrey;
    border: 1px solid black;
    box-shadow: 2px 5px 15px black;
}

h1 {
    font-size: 60px;
    text-shadow: 2px 2px white;
}

label {
    font-weight: bolder;
    color: white;
    text-shadow: 2px 2px black;
}

.search_btn {
    margin-right: 1%;
    font-size: 14px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 2px 5px 15px black;
}

.submit_btn {
    font-size: 16px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 2px 5px 15px black;
}

#user-input {
    font-size: 16px;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 2px 5px 15px black;
}

#search img {
    width: 70%;
}

#gif_place {
    margin-top: 1%;
    width: 95%;
    height: 600px;
    color: white;
    /*border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;*/
}

.holder {
    float: left;
    padding: 1px;
    margin: 2% 0 0 2%;
}


/*@media only screen and (min-width: 1000px) {
    body {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #banner h2,
    #sb_title h2 {
        font-size: 18px;
    }
    .btn-player h3,
    .btn-enemy h3 {
        font-size: 10px;
    }
    #ps,
    #es {
        font-size: 18px;
    }
    #win_lose {
        font-size: 17px;
    }
    #game {
        margin: 15% 0 0 0;
    }
    #banner {
        padding: 2px;
    }
    #selection button {
        padding: 5px;
        width: 22%;
    }
    #selection img {
        width: 85%;
    }
    #scoreboard {
        padding: 1px;
        height: 150px;
    }
    #sb_pl_hp,
    #sb_op_hp {
        font-size: 12px;
        height: 100px;
    }
    #stats {
        font-size: 8px;
        margin: 3% 0 0 0;
    }
    #plahp,
    #opohp {
        font-size: 45px;
    }
    .pla_hp,
    .opo_hp {
        padding: 1px;
    }
    .player,
    .enemy {
        width: 25%;
        padding: 5px;
        font-size: 11px;
    }
    .attack {
        font-size: 12px;
    }
}

@media only screen and (min-width: 1500px) {
    body {
        background-size: 100%
    }
    #banner h2,
    #sb_title h2 {
        font-size: 30px;
    }
    .btn-player h3,
    .btn-enemy h3 {
        font-size: 18px;
    }
    #ps,
    #es {
        font-size: 30px;
    }
    #game {
        margin: 11% 0 0 0;
    }
    #win_lose {
        font-size: 35px;
    }
    #banner {
        padding: 5px;
        font-size: 30px;
    }
    #selection button {
        padding: 5px;
    }
    #scoreboard {
        padding: 5px;
        height: 250px;
    }
    #sb_pl_hp,
    #sb_op_hp {
        font-size: 18px;
        height: 175px;
    }
    #stats {
        font-size: 18px;
        margin: 6% 0 0 0;
    }
    .pla_hp,
    .opo_hp {
        padding: 5px;
    }
    #plahp,
    #opohp {
        font-size: 90px;
    }
    .player,
    .enemy {
        padding: 5px;
        font-size: 17px;
    }
    .attack {
        padding: 10px;
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px) {
    #banner {
        margin: 2% auto 5% auto;
        width: 85%;
    }
    #banner h2,
    #sb_title h2 {
        font-size: 12px;
    }
    .btn-player h3,
    .btn-enemy h3 {
        font-size: 8px;
    }
    #ps,
    #es {
        font-size: 13px;
    }
    #selection {
        margin: 0 0 0 7%;
    }
    #selection button {
        margin: 1% 0 0 2%;
        width: 23%;
        padding: 2px;
    }
    #selection img {
        width: 90%;
    }
    #scoreboard {
        width: 95%;
        padding: 2px;
        height: 125px;
        margin: 2% 0 0 2%;
    }
    #sb_pl_hp {
        margin-right: 2%;
    }
    #sb_pl_hp,
    #sb_op_hp {
        font-size: 6px;
        height: 75px;
        width: 25%;
    }
    .pla_hp,
    .opo_hp {
        padding: 1px;
    }
    #plahp,
    #opohp {
        font-size: 30px;
    }
    #stats {
        margin-top: 2%;
        width: 40%;
        font-size: 10px;
    }
    #space {
        margin-top: 3%;
    }
    .player,
    .enemy {
        padding: 2px;
        font-size: 10px;
        width: 30%;
    }
    .enemy {
        margin-left: 2%;
    }
    .player img,
    .enemy img {
        width: 90%;
    }
    #pla,
    #opo {
        font-size: 10px;
    }
    #btn-attack {
        height: 25px;
        padding: 10px;
        font-size: 10px;
    }
}*/