body {
    background: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#banner {
    background: url("../images/fire_bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 2%;
    border: 1px solid black;
    color: red;
    box-shadow: 2px 5px 15px black;
}

h1 {
    font-size: 60px;
    text-shadow: 2px 2px white;
}

label {
    font-weight: bolder;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px black;
}

#button_display {
    height: 100px;
}

.search_btn {
    margin-top: 1%;
    margin-right: 1%;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 5px 15px black;
}

.submit_btn {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 5px 15px black;
}

#user-input {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 5px 15px black;
}

#gif_place {
    margin-top: 1%;
    width: 95%;
    height: 600px;
    color: white;
}

.holder {
    float: left;
    padding: 1px;
    margin: 2% 0 0 2%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/*@media only screen and (min-width: 1500px) {
    #banner h1 {
        font-size: 22px;
    }
}*/

@media only screen and (max-width: 1200px) {
    #banner h1 {
        font-size: 35px;
    }
    #button_display {
        text-align: center;
    }
}

@media only screen and (max-width: 700px) {
    #banner h1 {
        font-size: 25px;
    }
}

@media only screen and (max-width: 500px) {
    #banner h1 {
        font-size: 24px;
    }
    #button_display {
        text-align: center;
    }
    .search_btn {
        font-size: 12px;
    }
    .submit_btn {
        font-size: 12px;
    }
    #user-input {
        font-size: 12px;
    }
    #gif_place {
        margin-top: 1%;
        width: 95%;
    }
    .holder {
        margin: 0 0 0 5%;
    }
}